.bar-container {
  width: 800px;
  height: 500px;
  border: 1px solid #444;
  display: flex;
  position: relative;
}

.bar {
  /* width: 8px; */
  background-color: orangered;
  margin: 0 1px;
  position: absolute;
  bottom: 0;
}

.button-container {
  margin: 10px 0;
  width: 800px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}